#mycv{
    margin: 7% 15% 10% 15%;  
      
   }
    
   
   #left-part{
     width:40%; 
     float:left;
   }
   
   #image{
    width:150px;
    left:250px;
   }
   
   #right-part{
     width:40%;
     float: right;
   }
   
   .p-header{
     font-weight:bold;
     font-size:22px;
     color: rgb(225, 0, 0)   
   }
   .p-header-body{
    text-decoration:underline; 
   }
   
   #image{
    position:relative; 
    width:150px;
   left:250px;
    bottom:15px;
   }
   
   .skills{
     margin-top:60px;
   }
   
   #skill-box{
     font-weight:normal;
     font-size:14px;
     margin:auto;
     border: 2px solid rgb(170, 50, 20); 
   }
   #skill-text{
     margin:10px;
   }
   .language1{
     font-size:13px;
     display: inline-block;
     line-height:0.15em;
     font-weight: normal;
    
   }
   
   .dot {
     height: 10px;
     width: 10px;
     background-color: red;
     border-radius: 50%;
     display:inline-block;
   }
   .dot-grey {
     height: 10px;
     width: 10px;
     background-color: grey;
     border-radius: 50%;
     display: inline-block;
   }
   
   #contact-info{
     position:relative;
     font-size:12px;
     left:250px;
     color:grey;
   }
   
   #id1{
     color:grey;
     text-decoration:underline;
     font-size:15px;
     line-height:0.3em;
   }
   .professional {
     text-decoration: underline
     
   }
   
    body {
        background-color: rgb(232, 232, 218);
        font-family: sans-serif;
        font-size:12px;
        line-height: 1.3em; 
     }
   
   .date{
     white-space: normal;
     line-height:0.3em;
     font-size:10px;
     color:grey; 
     float:left;
     
   }
   .place{
     font-size:10px;
     color:grey; 
     float:right;
   }
   
   .background-title{
     line-height: 1.5em;
     font-size:15px;
     font-weight: bold;
     color:black;
     
   }
   .background-body{
     font-size: 15px;
     font-weight: bold;
     color: rgb(0, 0, 0); 
     font-weight: lighter;
   }
   
   #id1 {
     color: rgb(114,113,115);
     font-size:(12px);
   }
   
   
   #date1{
     font-size: 11px;
   }
   
   